.marker {
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  transform: translateX(-50%) translateY(-50%);
}

.marker::before {
  content: '';
  position: absolute;
  width: 175%;
  height: 175%;
  border-radius: 100%;
  top: -37.5%;
  left: -37.5%;
  background-color: inherit;
  opacity: 0.5;
}

.marker::after {
  content: '';
  position: absolute;
  width: 250%;
  height: 250%;
  border-radius: 100%;
  top: -75%;
  left: -75%;
  background-color: inherit;
  opacity: 0.25;
}

.labels {
  color: #fff;
  font-family: Arial, sans-serif;
  position: relative;
}

.value {
  font-size: 21pt;
  font-weight: 100;
}

.label {
  font-size: 10pt;
  white-space: nowrap;
  margin-top: 2pt;
  font-weight: 600;
}